<ion-header mode="ios">
  <ion-toolbar>
    <ion-title size="default">
      Folders
    </ion-title>
    <ion-menu-toggle slot="secondary">
      <ion-buttons>
        <ion-button><ion-icon name="menu"></ion-icon></ion-button>
 </ion-buttons>
    </ion-menu-toggle>
    <ion-buttons mode="ios"slot="primary">
      <ion-button  (click)="addFolderAlertPrompt()" slot="secondary">
        <ion-icon slot="icon-only" name="folder"></ion-icon>
      </ion-button>
      
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div *ngFor="let item of folders">
  <ion-item  button lines="full" detail="true" routerLink="folder" [queryParams]="{mainfoldername: item.name}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      {{item.name}}
    </ion-label>
  </ion-item>
</div>
<div *ngFor="let item of folderss">
  <ion-item  button lines="full" detail="true" routerLink="folder" [queryParams]="{mainfoldername: item.title, id: item.id}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      {{item.title}}
    </ion-label>
  </ion-item>
</div>




</ion-content>
