<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Example Sub Folder {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: 1}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      Example Sub Folder 1
    </ion-label>
  </ion-item>
  <ion-item button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: 2}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      Example Sub Folder 2
    </ion-label>
  </ion-item>
  <ion-item button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: 3}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      Example Sub Folder 3
    </ion-label>
  </ion-item>
  <ion-item button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: 4}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      Example Sub Folder 4
    </ion-label>
  </ion-item>
  <ion-item button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: 5}">
    <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
    <ion-label>
      Example Sub Folder 5
    </ion-label>
  </ion-item>
</ion-content>
