::ng-deep #alert-input-1-0, alert-input, .sc-ion-alert-ios, #alert-input, .sc-ion-alert-ios{
    --min-height: 200px !important;
      min-height: 200px !important;
    
  }
  
  #alert-input-1-0, alert-input, .sc-ion-alert-ios, .alert-input, .sc-ion-alert-ios{
    --min-height: 200px !important;
      min-height: 200px !important;
    
  }