<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{name}}</ion-title>
    <ion-buttons mode="ios"slot="primary">
     <!-- <ion-button  (click)="addFolderAlertPrompt()" slot="secondary">
        <ion-icon slot="icon-only" name="folder"></ion-icon>
      </ion-button>-->
      <!--<ion-button  (click)="addNote()" slot="secondary">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    -->
      
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  
<!--  <div *ngFor="let item of folders">
    <ion-item  button lines="full" detail="true" routerLink="folder" [queryParams]="{subfoldername: item.name}">
      <ion-icon color="secondary" name="folder" style="padding-right:15px;"></ion-icon >
      <ion-label>
        {{item.name}}
      </ion-label>
    </ion-item>
  </div>
  <ion-item-divider>
    Notes
  </ion-item-divider>
-->
  <div *ngFor="let item of notes">
    <ion-item (click)="showNoteModal(item.content)" 
    style="height: 60px !important;border-left: 5px solid #666666;margin-top:10px;"    button lines="none" detail="true">
      <ion-label>
        <h3 >{{item.title}}</h3>
        <!--<p>{{item[0]}}</p>-->
        <p [style.color]="item.color" style="font-style: italic;">{{item.content}}</p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
